/* .p-menubar {
    /* background: blue;
    height: 70px;
    width: 100vw;
  } */ 
  
  /* .p-button-text {
    color: #4a5568;
  } */
  
 /* button {
    background-color: white;
    border: none;
    font-size: 13px;
    cursor: pointer;
    padding: 1px 1px;
  } */
  
  /* button:hover {
    color: #0056b3;
  } */
  
  img {
    object-fit: cover;
  }

 
  ::ng-deep .p-card {
      padding: 0 !important;
      margin: 0 !important;
      box-shadow: none !important;
      background-color: rgb(239, 240, 244) !important;
      width: 1340px;
      height: 150px;
      display: flex;
      align-items: center;
      border-radius: 10px;
     
  }

  ::ng-deep .p-menubar{
    background-color: transparent!important;
    color: white!important;
    padding: 10px 20px!important;
    z-index: 1000!important;
  }

::ng-deep .sa .p-button {
  background-color: white;
  padding: 0;
  width: 25px;
  height: 25px;
}

::ng-deep .p-table{
   background-color: transparent!important;
   width: 1345px;
}