img {
  object-fit: cover;

}

::ng-deep .p-menubar {
  background-color: transparent !important;
  color: white !important;
  padding: 10px 20px !important;
  z-index: 1000 !important;
}

::ng-deep .sa .p-button {
  background-color: white;
  padding: 0;
  width: 25px;
  height: 25px;
}


::ng-deep .p-card {
  padding: 0 !important;
  margin: 0 !important;
  box-shadow: none !important;
  background-color: rgb(239, 240, 244) !important;
  width: 1340px;
  height: 150px;
  display: flex;
  align-items: center;
  border-radius: 10px;

}


::ng-deep .p-table {
  background-color: white !important;
  border-radius: 10px;

}

::ng-deep .p-selectbutton {
  background-color: #f5f5f5;
  border-radius: 10px;
}

::ng-deep .p-selectbutton .p-button {
  width: 100px;
  height: 40px;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 5px;
  background-color: #f5f5f5;

}

::ng-deep .p-selectbutton .p-button.p-highlight {
  font-size: 16px;
  background-color: white;
  color: black;

}



::ng-deep .p-datatable-thead>tr>th {
  padding: 10px !important;
  margin: 0 !important;

}

::ng-deep .p-datatable-tbody>tr>td {
  padding: 10px;
 
}

::ng-deep .p-column-filter-menu .p-column-filter-content {
  color: #333;
  font-size: 14px;
}


:host ::ng-deep .p-dialog .p-datatable-thead>tr>th {
  padding: 10px !important;
  margin: 0 !important;
  font-size: 12px;
  font-weight: normal !important; 
  color: #333 !important;
}

:host ::ng-deep .p-dialog .p-datatable-tbody>tr>td {
  padding: 9px;
}